/* 公用版心 */

.container {
    width: 1226px;
    margin: 0 auto;
}


/* 公用顶部 */

.all-top {
    height: 42px;
    background-color: #333;
}

.all-top ul {
    float: left;
}

.all-top ul li {
    float: left;
    margin-right: 16px;
    line-height: 42px;
}

.all-top ul li a {
    color: #b0b0b0;
}

.all-top ul li a:hover {
    color: #fff;
}

.userInfo {
    float: left;
    line-height: 42px;
    margin-left: 226px;
}

.userInfo a {
    color: #b0b0b0;
    padding: 0 6px;
}

.userInfo a:hover {
    color: #fff;
}

.shoppingCart {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin-left: 18px;
    color: #b0b0b0;
    /* padding: 0 6px; */
    background-color: #424242;
    cursor: pointer;
}


/* 公用头部导航 */

.all-header {
    height: 100px;
}

.slider {
    height: 56px;
    width: 56px;
    margin-top: 17px;
    background: #ff6700 url(../images/mi-logo.png) no-repeat 50% 50%;
    color: #fff;
    float: left;
    cursor: pointer;
}

.all-header-nav {
    float: left;
    margin-left: 179px;
    line-height: 100px;
}

.all-header-nav ul {
    overflow: hidden;
}

.all-header-nav ul li {
    float: left;
    padding: 0 10px;
    font-size: 16px;
}

.all-header-nav ul li a:hover {
    color: #ff6700;
}

.all-header-search {
    margin-left: 80px;
    float: left;
}

.all-header-search form {
    /* width: 293px; */
    height: 48px;
    margin-top: 25px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.all-header-search form input[type="text"] {
    float: left;
    width: 242px;
    height: 48px;
    outline: none;
    border: 0;
    border-right: 1px solid #e0e0e0;
}

.all-header-search form input[type="submit"] {
    float: left;
    width: 50px;
    height: 48px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #686161;
}

.all-header-search form input[type="submit"]:hover {
    color: #fff;
    background: #ff6700;
}


/* 公用底部 */

.all-footer {
    height: 192px;
    padding: 40px 0;
    background: #fff;
}


/* 公用底部信息 */

.all-info {
    height: 228px;
    background-color: #fafafa;
}


/* 基本轮播图 */

.c-carousel {
    position: relative;
}

.c-carousel img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: 1;
}

.c-carousel-lip .c-carousel-show {
    background: hsla(0, 0%, 100%, .4);
    border-color: rgba(0, 0, 0, .4);
}

.c-carousel .c-carousel-imgShow {
    opacity: 1;
    z-index: 18;
}