<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小米有品-坚持做感动人心，价格厚道</title>
  <link rel="stylesheet" href="../static/sass/layout.css">
  <link rel="stylesheet" href="../static/sass/mHelpCss/mHelp.css">
  <script src="../static/scripts/jquery-1.8.3/jquery-1.8.3.js" defer></script>
  <script src="../static/scripts/mHelpJs/mHelp.js" defer></script>
</head>


<body>

  <!-- Z-Header S -->
  <div class="header">
    <p>帮助中心</p>
  </div>
  <!-- Z-Header E -->



  <!-- Z-CenterWrap S -->
  <div class="Z-CenterWrap w600">
    <div class="ConterWrap">

      <!-- 轮播图 -->
      <div class="swiperWrap">
        <div class="imgs">
          <img src="../static/images/mHelpImage/swiperItem3.jpg">
          <img src="../static/images/mHelpImage/swiperItem1.jpg">
          <img src="../static/images/mHelpImage/swiperItem2.jpg">
          <img src="../static/images/mHelpImage/swiperItem3.jpg">
          <img src="../static/images/mHelpImage/swiperItem1.jpg">
        </div>
      </div>

      <!-- 安装服务 -->
      <div class="toolServer">
        <div class="tools">
          <img src="../static/images/mHelpImage/tools.png">
          <p>安装服务</p>
        </div>
      </div>

      <!-- 常见问题 -->
      <div class="problemsWrap">
        <h3>常见问题</h3>
        <ul class="tabsHeader clearfix">
          <!-- 渲染模板 -->
      <!--     <li class="active">
            <a href="javascript:;">活动</a>
          </li>
          <li>
            <a href="javascript:;">订单</a>
          </li> -->
        </ul>
        <ul class="tabsBody">
          <!-- 渲染模板 -->
          <!-- <li>哈哈哈订单有问题</li> -->
        </ul>
      </div>

      <!-- 占位元素 -->
      <div class="position"></div>



    </div>
  </div>
  <!-- Z-CenterWrap E -->


  <!-- Z-Footer S -->
  <div class="Z-Footer">
    <div class="footer w600 clearfix">
      <div class="callServer fl">
        <img src="../static/images/mHelpImage/callIcon.png">
        <span>热线客服</span>
      </div>
      <div class="line fl"></div>
      <div class="onlineServer fl">
        <img src="../static/images/mHelpImage/listenIcon.png">
        <span>热线客服</span>
      </div>
    </div>
  </div>
  <!-- Z-Footer E -->

</body>

</html>