<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sass/serverStyle/reset.css">
    <link rel="stylesheet" href="../static/css/serverStyle/prod_view1.css">
</head>

<body>


    <div class="header"></div>
    <div class="prodHeader">
        <div class="prodHeader-rela">
            <div class="prod-contian">
                <div class="prodHeader-left">
                    <div>小米9</div>
                    <span>|</span>
                    <div class="seLink"><a href="#">小米9 SE</a></div>
                </div>
                <div class="prodHeader-right">
                    <ul>
                        <li><a href="./prod_view1_1.html">概述</a></li>
                        <li class="separator">|</li>
                        <li><a href="">参数</a></li>
                        <li class="separator">|</li>
                        <li><a href="">F码通道</a></li>
                        <li class="separator">|</li>
                        <li><a href="">用户评价</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="prodHeader-hide-bar">
        </div>
    </div>
    <div class="login-notic">
        <div class="prod-contian">
            为方便您购买，请提前登录
            <a href="./login" class="login-notic-link">立即登录</a>
            <a href="javascript:;" class="login-notic-close">×</a>
        </div>
    </div>

    <div class="prod-mian prod-contian clear">
        <div class="prod-mian-left">
                <div class="sliderViewport">
                    <div class="sliderWrap">
                        <img src="../static/images/prod_view1/pms0_1.jpg" alt="">
                    </div>
                    <div class="control-direction">
                        <div class="direction">
                            <a href="jacvscript:;" class="prev">上一张</a>
                            <a href="jacvscript:;" class="next">下一张</a>
                        </div>
                        <div class="default-page">
                            <!-- <div class="page-item"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="prod-mian-right ">
                <div class="prod-title">
                    小米9
                </div>
                <div class="prod-deci">
                    全曲面轻薄设计，全息幻彩玻璃机身 / 骁龙855旗舰处理器 / 20W无线闪充，标配27W有线快充 / 索尼4800万超广角微距三摄 / 极速屏下指纹解锁 / 多功能NFC
                </div>
                <div class="prod-company">小米自营</div>
                <div class="prod-price">
                    <span class="price">2999元</span>
                    <del> 3299元</del>
                </div>
                <div class="prod-time">
                    <div class="prod-time-head">
                        <em class="icon"></em>
                        <i>秒杀</i>
                        <span class="prod-time-seckillTime">距结束 06 时 00 分 27 秒</span>
                    </div>
                    <div class="prod-time-con">
                        <span class="price">2999元</span>
                        <del> 3299元</del>
                    </div>
                </div>
                <div class="prod-flow">
                    <ul>
                        <li class="prod-flow-item">
                            <span class="prod-flow-item-tag">赠完即止</span>
                            <span class="prod-flow-item-name">无线车充或无线充电宝（赠品二选一）</span>
                        </li>
                    </ul>
                </div>

                <div class="prod_address">
                    <i class="address-icon"></i>
                    <div class="address-info">
                        <span class="item">新疆</span>
                        <span class="item">乌鲁木齐市</span>
                        <span class="item">天山区</span>
                        <span class="item">大湾街道</span>
                    </div>
                    <a href="#" class="prod-regions">修改</a>
                    <div class="prod-status">有现货</div>
                </div>

                <div class="list-wrap">
                    <div class="prod-choose choose-xm1">
                        <div class="step-title">选择版本</div>
                        <ul class="step-list clear">
                            <li class="btn-step-choose active" data-index='0'>
                                <a href="javascript:;" class="step-name">
                                    <span class="name">8GB+256G</span>
                                    <span class="spice">2999</span>
                                </a>
                            </li>
                            <li class="btn-step-choose" data-index='1'>
                                <a href="javascript:;" class="step-name">
                                    <span class="name">8GB+128G</span>
                                    <span class="spice">2799</span>
                                </a>
                            </li>
                            <li class="btn-step-choose" data-index='2'>
                                <a href="javascript:;" class="step-name">
                                    <span class="name">8GB+256G(透明)</span>
                                    <span class="spice">3699</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="prod-choose choose-xm2">
                        <div class="step-title">选择颜色</div>
                        <ul class="step-list clear">
                            <li class="btn-step-choose active" data-index='0'>
                                <a href="javascript:;" class="step-name">
                                    <img src="../static/images/prod_view1/color00.jpg" alt="" class="icon">
                                    <span class="text"> 全息幻彩蓝</span>
                                </a>
                            </li>

                            <li class="btn-step-choose" data-index='2'>
                                <a href="javascript:;" class="step-name">
                                    <img src="../static/images/prod_view1/color02.jpg" alt="" class="icon">
                                    <span class="text"> 全息幻彩紫</span>
                                </a>
                            </li>
                            <li class="btn-step-choose" data-index='1'>
                                <a href="javascript:;" class="step-name">
                                    <img src="../static/images/prod_view1/color01.jpg" alt="" class="icon">
                                    <span class="text"> 深空灰</span>
                                </a>
                            </li>
                            <li class="btn-step-choose" data-index='3'>
                                <a href="javascript:;" class="step-name">
                                    <img src="../static/images/prod_view1/pms3_3.jpg" alt="" class="icon">
                                    <span class="text"> 透明版</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="prod-choose choose-service1 serverJs">
                        <div class="step-title">选择小米提供的延长保修
                            <a href="#" target="_blank">了解延长保修 ></a>
                        </div>
                        <ul class="step-list clear">

                            <li class="btn-service-choose clear" data-index='0' data-price="299">
                                <a href="javascript:;" class="step-name">
                                    <i class="icon-check icon1"><em>✔</em></i>
                                    <img src="../static/images/prod_view1/service0.jpg" alt="">
                                    <div class="con">
                                        <span class="name">意外保障服务</span>
                                        <p class="deci">手机意外碎屏/进水/碾压等损坏</p>
                                        <p class="agreement">
                                            <i class="icon-check icon2"><em>✔</em></i>
                                            我已阅读
                                            <a href="#" class="link">服务条款
                                                <span>|</span>
                                            </a>
                                            <a href="#" class="link">常见问题</a>
                                        </p>
                                        <span class="price">299元</span>
                                    </div>
                                </a>
                            </li>
                            <li class="btn-service-choose clear" data-index='0' data-price="99">
                                <a href="javascript:;" class="step-name">
                                    <i class="icon-check icon1"><em>✔</em></i>
                                    <img src="../static/images/prod_view1/service0.jpg" alt="">
                                    <div class="con">
                                        <span class="name">碎屏保障服务</span>
                                        <p class="deci">手机意外碎屏</p>
                                        <p class="agreement">
                                            <i class="icon-check icon2"><em>✔</em></i>
                                            我已阅读
                                            <a href="#" class="link">服务条款
                                                <span>|</span>
                                            </a>
                                            <a href="#" class="link">常见问题</a>
                                        </p>
                                        <span class="price">159元</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="prod-choose choose-service2 serverJs">
                        <div class="step-title">选择小米提供的延长保修
                            <a href="#" target="_blank">了解延长保修 ></a>
                        </div>
                        <ul class="step-list clear">
                            <li class="btn-service-choose clear" data-index='0' data-price="99">
                                <a href="javascript:;" class="step-name">
                                    <i class="icon-check icon1"><em>✔</em></i>
                                    <img src="../static/images/prod_view1/service0.jpg" alt="">
                                    <div class="con">
                                        <span class="name">延长保修服务</span>
                                        <p class="deci">厂保延一年，性能故障免费维修</p>
                                        <p class="agreement">
                                            <i class="icon-check icon2"><em>✔</em></i>
                                            我已阅读
                                            <a href="#" class="link">服务条款
                                                <span>|</span>
                                            </a>
                                            <a href="#" class="link">常见问题</a>
                                        </p>
                                        <span class="price">99元</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pro-list">
                    <ul>
                        <li class="pro-list-item clear">
                            <em>小米9 全网通版 8GB内存 全息幻彩蓝 256GB</em>
                            <del>3200元</del>
                            <span class="price">2999元</span>
                        </li>
                        <li class="totlePrice">秒杀价：<span class="totle">2999</span>元</li>
                    </ul>
                </div>

                <div class="btn-wrap">
                    <a href="" class="btn-login">登录后购买</a>
                    <a href="" class="btn-like">
                        <i class="icon"></i>
                        <span>喜欢</span></a>
                </div>
                <div class="pro-plicy">
                    <ul>
                        <li><i></i><span>小米自营</span></li>
                        <li><i></i><span>小米发货</span></li>
                        <li><i></i><span>七天无理由退货</span></li>
                        <li><i></i><span>运费说明</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pro-infomation">
            <div class="prod-contian">
                <div class="pro-infomation-title">价格说明</div>
                <img src="../static/images/prod_view1/a482afa34053b1b32ece1023475af7fb.jpeg" alt="">
            </div>
        </div>
        <script src="../static/scripts/jquery-1.8.3/jquery-1.8.3.min.js"></script>
        <script src="../static/scripts/serverJs/prod_view1.js" ></script>
</body>

</html>