<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sass/layout.css">
    <link rel="stylesheet" href="../static/sass/main.css">
    <link rel="stylesheet" href="../static/sass/secondsKillCss/secondsKill.css">
    <script src="../static/scripts/jquery-1.8.3/jquery-1.8.3.js" defer></script>
    <script src="../static/scripts/public.js" defer></script>
    <script src="../static/scripts/secondsKillJs/secondsKill.js" defer></script>
</head>

<body>
    <!-- 公用顶部模板 -->
    <div class="all-top">
        <div class="container clearfix">
            <ul class="">
                <li><a href="">小米商城</a></li>
                <li><a href="">MIUI</a></li>
                <li><a href="">loT</a></li>
                <li><a href="">云服务</a></li>
                <li><a href="">金融</a></li>
                <li><a href="./youping.html">有品</a></li>
                <li><a href="">小爱开发平台</a></li>
                <li><a href="">企业团购</a></li>
                <li><a href="">资质证照</a></li>
                <li><a href="">协议规则</a></li>
                <li>
                    <a href="">下载app</a>
                    <div class="app-code">
                        <img src="../static/images/appCode.jpg" alt="">
                    </div>
                </li>
                <li><a href="">Select Location</a></li>
            </ul>
            <div class="userInfo">
                <a href="">登录</a>
                <a href="">注册</a>
                <a href="">消息通知</a>
                <span class="shoppingCart">购物车(<i>0</i>)</span>
                <div class="cart-show">
                    <span>购物车中还没有商品，赶紧选购吧！</span>
                </div>
            </div>

        </div>
    </div>
    <!-- 公用头部导航 -->
    <div class="all-header">
        <div class="container clearfix">
            <div class="slider"></div>
            <div class="all-header-nav">
                <ul class="ahn-list">
                    <li data-index="0">
                        <a href="">小米手机</a>
                    </li>
                    <li data-index="1"><a href="">Redmi红米</a></li>
                    <li data-index="2"><a href="">电视</a></li>
                    <li data-index="3"><a href="">笔记本</a></li>
                    <li data-index="4"><a href="">家电</a></li>
                    <li data-index="5"><a href="">路由器</a></li>
                    <li data-index="6"><a href="">智能硬件</a></li>
                    <li data-index="7"><a href="">服务</a></li>
                    <li data-index="8"><a href="">社区</a></li>
                </ul>
            </div>
            <div class="all-header-search">
                <form action="">
                    <input type="text">
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="ah-list">
            <div class="container clearfix">
                <ul class="ac-list clearfix">
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>

                    </li>
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>
                    </li>
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>
                    </li>
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>
                    </li>
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>
                    </li>
                    <li>
                        <img src="../static/images/headerList/phone.png" alt="">
                        <div class="title">小米CC9</div>
                        <p class="price">1799元起</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 只写小米秒杀部分 -->
    <div class="Z-secondsKillWrap">

        <!-- tab 切换头部 -->
        <div class="secondsKillHeader">
            <ul class="tabsHeader clearfix w1226">
                <!-- 渲染模板 -->
                <!--   <li>
          <span class="time">00:00</span>
          <span class="info">活动已结束</span>
        </li>
        <li class="now">
          <span class="time">10:00</span>
          <span class="info">正在抢购</span>
        </li>
        <li>
          <span class="time">14:00</span>
          <span class="info">未开始</span>
        </li>
        <li>
          <span class="time">18:00</span>
          <span class="info">未开始</span>
        </li>
        <li>
          <span class="time">20:00</span>
          <span class="info">未开始</span>
        </li> -->
            </ul>
        </div>

        <!-- tab 切换内容 -->
        <ul class="secondsKillContent w1226 clearfix">
            <!-- 渲染模板 -->

            <!-- 已经结束的模板 -->
            <!--       <li class="clearfix">
        <img src="../static/images/secondsKillImage/tabItem1.jpg" class="tabImg fl">
        <div class="tabConWrap fr">
          <h4 class="tit">小米蓝牙耳机</h4>
          <span class="intro">尽享无限音乐</span>
          <p class="percent"><span class="percentBar"><i></i></span><span class="percentNum">100%</span></p>
          <p class="price"><span class="nowPrice">69.00元</span><span class="oldPrice">99元</span></p>
          <a href="javascript:;" class="over">已结束</a>
        </div>
      </li> -->

            <!-- 正在抢购的模板 -->
            <!--     <li class="clearfix">
          <img src="../static/images/secondsKillImage/tabItem1.jpg" class="tabImg fl">
          <div class="tabConWrap fr">
            <h4 class="tit">小米蓝牙耳机</h4>
            <span class="intro">尽享无限音乐</span>
            <p class="price"><span class="nowPrice">69.00元</span><span class="oldPrice">99元</span></p>
            <a href="javascript:;" class="now">登录后抢购</a>
          </div>
        </li> -->

            <!-- 未开始的模板 -->
            <!--       <li class="clearfix">
          <img src="../static/images/secondsKillImage/tabItem1.jpg" class="tabImg fl">
          <div class="tabConWrap fr">
            <h4 class="tit">小米蓝牙耳机</h4>
            <span class="intro">尽享无限音乐</span>
            <p class="price"><span class="nowPrice">69.00元</span><span class="oldPrice">99元</span></p>
            <a href="javascript:;" class="future">未开始</a>
            <p class="remind">已有<span class="remindNum">33</span>人设置提醒</p>
          </div>
        </li> -->
        </ul>
    </div>
    <!-- 公用底部 -->
    <div class="all-footer ">
        <div class="container clearfix">
            <div class="af-nav">
                <ul class="clearfix">
                    <li>
                        <a href="">
                            预约维修服务
                        </a>
                    </li>
                    <li>
                        <a href="">7天无理由退货</a>
                    </li>
                    <li>
                        <a href="">15天免费换货</a>
                    </li>
                    <li>
                        <a href="">满150元包邮</a>
                    </li>
                    <li>
                        <a href="">520余家售后网点</a>
                    </li>
                </ul>
            </div>
            <div class="af-list clearfix">
                <dl>
                    <dt>帮助中心</dt>
                    <dd>账号管理</dd>
                    <dd>购物指南</dd>
                    <dd>订单操作</dd>
                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd>售后政策</dd>
                    <dd>自主服务</dd>
                    <dd>相关下载</dd>
                </dl>
                <dl>
                    <dt>线下门店</dt>
                    <dd>小米之家</dd>
                    <dd>服务网点</dd>
                    <dd>授权体验店</dd>
                </dl>
                <dl>
                    <dt>关于小米</dt>
                    <dd>了解小米</dd>
                    <dd>加入小米</dd>
                    <dd>投资者关系</dd>
                </dl>
                <dl>
                    <dt>关注我们</dt>
                    <dd>新浪微博</dd>
                    <dd>官方微信</dd>
                    <dd>联系我们</dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd>F码通道</dd>
                    <dd>礼物码</dd>
                    <dd>防伪查询</dd>
                </dl>
                <div class="afl-info">
                    <p class="afi-phone">400-100-5678</p>
                    <p class="afi-time">
                        周一至周日 8:00-18:00<br> （仅收市话费）
                    </p>
                    <a class="afi-btn" href="#">人工客服</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 公用底部信息 -->
    <div class="all-info">
        <div class="container clearfix">
            <div class="ai-logo"></div>
            <div class="ai-text">
                <ul class="clearfix">
                    <li>小米商城</li>
                    <li>|</li>
                    <li>MIUI</li>
                    <li>|</li>
                    <li>米家</li>
                    <li>|</li>
                    <li>米聊</li>
                    <li>|</li>
                    <li>多看</li>
                    <li>|</li>
                    <li>游戏</li>
                    <li>|</li>
                    <li>路由器</li>
                    <li>|</li>
                    <li>米粉卡</li>
                    <li>|</li>
                    <li>政企服务</li>
                    <li>|</li>
                    <li>小米天猫店</li>
                    <li>|</li>
                    <li>小米集团隐私政策</li>
                    <li>|</li>
                    <li>小米商城隐私政策</li>
                    <li>|</li>
                    <li>问题反馈</li>
                    <li>|</li>
                    <li>廉政举报</li>
                    <li>|</li>
                    <li>诚信合规</li>
                    <li>|</li>
                    <li>Select Location</li>
                </ul>
                <p>
                    &copy; 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2017]1530-131号
                    <br> （京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京) -非经营性-2014-0090 营业执照 医疗器械公告
                    <br> 增值电信业务许可证 &nbsp; 网络食品经营备案（京）【2018】WLSPJYBAHF-12 &nbsp;食品经营许可证
                    <br> 违法和不良信息举报电话：185-0130-1238 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                </p>
            </div>
            <div class="ai-link">
                <a href="">
                    <img src="../static/images/footer/truste.png" alt="">
                </a>
                <a href="">
                    <img src="../static/images/footer/v-logo-1.png" alt="">
                </a>
                <a href="">
                    <img src="../static/images/footer/v-logo-2.png" alt="">
                </a>
                <a href="">
                    <img src="../static/images/footer/v-logo-3.png" alt="">
                </a>
                <a href="">
                    <img src="../static/images/footer/v-log-4.png" alt="">
                </a>
            </div>
            <div class="ai-topic"></div>
        </div>
    </div>
</body>

</html>