<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小米有品</title>
  <link rel="stylesheet" href="../static/sass/layout.css">
  <link rel="stylesheet" href="../static/sass/youpingCss/youping.css">
  <script src="../static/scripts/jquery-1.8.3/jquery-1.8.3.js" defer></script>
  <script src="../static/scripts/youpingJs/utils.js" defer></script>
  <script src="../static/scripts/youpingJs/youping.js" defer></script>
</head>


<body>
  <!-- z-headerWrap S-->
  <div class="z-headerWrap" id="top">
    <div class="header w1080 clearfix">
      <div class="fr">
        <div class="fl m-login">
          <a href="#">登录</a>
          <a href="#">注册</a>
        </div>
        <span class="fl m-line"></span>
        <div class="fl m-help">
          <a href="#">帮助中心</a>
        </div>
        <span class="fl m-line"></span>
        <div class="fl m-download">
          <span class="m-icons"></span>
          <a href="#">下载 APP</a>
        </div>
        <span class="fl m-line"></span>
        <div class="fl m-rules">
          <!-- 头部的内容 -->
          <div class="m-clause">
            <a href="#">资质证照&nbsp;/&nbsp;协议规则</a>
            <span class="m-icons"></span>
          </div>
          <!-- 隐藏的内容 -->
          <div class="m-clause-con">
            <ul>
              <li>资质证照</li>
              <li>协议规则</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- z-headerWrap E -->

  <!-- z-navWrap S -->
  <div class="z-navWrap">
    <div class="navC w1080 clearfix">
      <!-- logo -->
      <div class="fl logo">
        <h1>小米</h1>
      </div>
      <div class="classify fl">
        <a href="#" class="types">分类<span class="m-icons"></span></a>
        <!-- 导航列表 -->
        <div class="navListCon fl">
          <ul class="navListUl">
            <!-- 模板 动态渲染 -->
            <!--    <li class="listItem">
              <h3 class="h3Item">
                <a href="#">有品推荐</a>
                <span>/</span>
                <a href="#">家用电器</a>
              </h3>
              <div class="conItem">
                <h5>有品推荐</h5>
                <ul class="clearfix">
                 <li>
                    <img src="images/youpingImage/navItem1.png" alt="">
                    <span>销量榜单</span>
                  </li>
                  <li>
                    <img src="images/youpingImage/navItem2.png" alt="">
                    <span>米粉热搜</span>
                  </li>
                  <li>
                    <img src="images/youpingImage/navItem3.png" alt="">
                    <span>清凉季</span>
                  </li>
                  <li>
                    <img src="images/youpingImage/navItem4.png" alt="">
                    <span>女生最爱</span>
                  </li>
                  <li>
                    <img src="images/youpingImage/navItem5.png" alt="">
                    <span>男生精选</span>
                  </li>
                </ul>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
      <ul class="fl clearfix navUl">
        <li>限时抢购</li>
      </ul>
      <div class="fr searchCon">
        <div class="search_form fl">
          <a href="#" class="searchIcon m-icons"></a>
          <input type="text" placeholder="搜一搜" class="searchIpt">
        </div>
        <a href="#" class="cartIcon m-icons fr"></a>
      </div>
    </div>
  </div>
  <!-- z-navWrap E -->

  <!-- z-bannerWrap S -->
  <div class="z-bannerWrap">
    <div class="bannerWrap w1080 clearfix">
      <!-- 导航列表 -->
      <div class="navListCon fl">
        <ul class="navListUl">
          <!-- 模板 动态渲染 -->
          <!--    <li class="listItem">
            <h3 class="h3Item">
              <a href="#">有品推荐</a>
              <span>/</span>
              <a href="#">家用电器</a>
            </h3>
            <div class="conItem">
              <h5>有品推荐</h5>
              <ul class="clearfix">
               <li>
                  <img src="images/youpingImage/navItem1.png" alt="">
                  <span>销量榜单</span>
                </li>
                <li>
                  <img src="images/youpingImage/navItem2.png" alt="">
                  <span>米粉热搜</span>
                </li>
                <li>
                  <img src="images/youpingImage/navItem3.png" alt="">
                  <span>清凉季</span>
                </li>
                <li>
                  <img src="images/youpingImage/navItem4.png" alt="">
                  <span>女生最爱</span>
                </li>
                <li>
                  <img src="images/youpingImage/navItem5.png" alt="">
                  <span>男生精选</span>
                </li>
              </ul>
            </div>
          </li>-->
        </ul>
      </div>
      <!-- banner 图 -->
      <div class="bannerCon fl">
        <div class="main">
          <div class="imgs clearfix">
            <img src="../static/images/youpingImage/banner07.jpeg" alt="">
            <img src="../static/images/youpingImage/banner01.jpg" alt="">
            <img src="../static/images/youpingImage/banner02.jpg" alt="">
            <img src="../static/images/youpingImage/banner03.jpg" alt="">
            <img src="../static/images/youpingImage/banner04.jpg" alt="">
            <img src="../static/images/youpingImage/banner05.jpg" alt="">
            <img src="../static/images/youpingImage/banner06.jpg" alt="">
            <img src="../static/images/youpingImage/banner07.jpeg" alt="">
            <img src="../static/images/youpingImage/banner01.jpg" alt="">
          </div>
        </div>
        <span class="left m-icons"></span>
        <span class="right m-icons"></span>
        <ul class="nums clearfix">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- z-bannerWrap E -->

  <!-- z-newPro S -->
  <div class="z-newPro">
    <div class="newPro w1080">
      <ul class="clearfix">
        <li>
          <div class="imgBox">
            <img src="../static/images/youpingImage/pro1.png" alt="">
          </div>
          <p>每日新品</p>
        </li>
        <li>
          <div class="imgBox">
            <img src="../static/images/youpingImage/pro2.png" alt="">
          </div>
          <p>小米众筹</p>
        </li>
        <li>
          <div class="imgBox">
            <img src="../static/images/youpingImage/pro3.png" alt="">
          </div>
          <p>限时抢购</p>
        </li>
        <li>
          <div class="imgBox">
            <img src="../static/images/youpingImage/pro4.png" alt="">
          </div>
          <p>热销榜单</p>
        </li>
        <li>
          <div class="imgBox">
            <img src="../static/images/youpingImage/pro5.png" alt="">
          </div>
          <p>助力免单</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- z-newPro E  -->

  <!-- z-crowdFunding S  -->

  <!-- 头部的样式是可以公用的 -->
  <div class="z-crowdFunding">
    <div class="crowdFunding w1080">
      <!-- 公共头部 -->
      <div class="commonTitle clearfix">
        <h4>小米众筹 <span>永远年轻，永远好奇</span></h4>
        <a href="#" class="more">更多&nbsp;&nbsp;<span class="m-icons"></span></a>
      </div>

      <!-- 中间的内容 -->
      <div class="procenter w1080 clearfix">

        <div class="item-1">
          <p>碧家新风机</p>
          <p>小巧百搭,除霾除醇,便捷安装,...</p>
          <p class="proPrice">￥899</p>
          <img src="../static/images/youpingImage/imgpro3.png" class="proImg" alt="">
        </div>
        <div class="item-2">
          <p>inFace黑头仪</p>
          <p class="proPrice">￥99</p>
          <img src="../static/images/youpingImage/imgpro1.png" class="proImg" alt="">
        </div>
        <div class="item-3">
          <p>HITH智能无线足浴器Q2</p>
          <p class="proPrice">￥599</p>
          <img src="../static/images/youpingImage/imgpro2.png" class="proImg" alt="">
        </div>

      </div>

      <p class="pItem-1">
        <span class="perNum">480</span>人支持<span class="yellowS">热</span><span class="baifengbi">240%</span>
      </p>
      <p class="pItem-2">
        <span class="perNum">74678</span>人支持<span class="redS">爆</span><span class="baifengbi">3733%</span>
      </p>
      <p class="pItem-3">
        <span class="perNum">5117</span>人支持<span class="redS">爆</span><span class="baifengbi">1023%</span>
      </p>

    </div>
  </div>

  <!-- z-crowdFunding E -->

  <!-- Z-timeLimited S -->

  <div class="Z-timeLimited">
    <div class="timeLimited w1080">
      <!-- 公共头部 -->
      <!-- 限时抢购倒计时 -->
      <div class="commonTitle clearfix">
        <h4>限时抢购 <span class="time"><img src="../static/images/youpingImage/clock.png" alt=""
              class="clock">&nbsp;16:00场&nbsp;<i class="hours">00</i>:<i class="minutes">29</i>:<i
              class="seconds">46</i></span></h4>
        <a href="#" class="more">更多&nbsp;&nbsp;<span class="m-icons"></span></a>
      </div>

      <!-- 产品区域 -->
      <div class="timeWrap w1080">
        <span class="leftT m-icons"></span>
        <span class="rightT m-icons"></span>
        <div class="mainBox" data-type="timeLimited">
          <ul class="imgsBox clearfix">
            <!-- 渲染模板 -->
            <!--       <li class="timeItem">
              <img src="../static/images/youpingImage/timewrap1.jpg" alt="" class="conImg">
              <div class="con">
                <h6 class="tit">小玩意儿</h6>
                <p class="nowPrice">￥49.5<i class="oldPrice">￥99</i></p>
              </div>
            </li> -->
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Z-timeLimited E -->

  <!-- 每日新品 -->
  <!-- Z-newPro S -->
  <div class="Z-newPro">
    <div class="newPro w1080">
      <!-- 公共头部 -->
      <div class="commonTitle clearfix">
        <h4>每日新品 <span>每日10点，惊喜不断</span></h4>
        <a href="#" class="more">更多&nbsp;&nbsp;<span class="m-icons"></span></a>
      </div>

      <!-- 产品区域 -->
      <div class="timeWrapPro w1080">
        <span class="leftT m-icons"></span>
        <span class="rightT m-icons"></span>
        <div class="mainBox" data-type="newPro">
          <ul class="imgsBox clearfix">
            <!-- 渲染模板 -->
            <!--   <li class="timeItem">
            <img src="../static/images/youpingImage/timewrap1.jpg" alt="" class="conImg">
            <div class="con">
              <h6 class="tit">小玩意儿</h6>
              <p class="into">哈哈哈哈哈哈哈</p>
              <p class="nowPrice">￥49.5</p>
            </div>
          </li> -->
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Z-newPro E -->

  <!-- 热门 -->
  <!-- Z-hot S -->
  <div class="Z-newPro">
    <div class="newPro w1080">
      <!-- 公共头部 -->
      <div class="commonTitle clearfix">
        <h4>热门 <span>感动人心，价格厚道</span></h4>
        <a href="#" class="more">更多&nbsp;&nbsp;<span class="m-icons"></span></a>
      </div>

      <!-- 产品区域 -->
      <div class="timeWrapPro w1080">
        <span class="leftT m-icons"></span>
        <span class="rightT m-icons"></span>
        <div class="mainBox" data-type="hot">
          <ul class="imgsBox clearfix">
            <!-- 渲染模板 -->
            <!--   <li class="timeItem">
            <img src="../static/images/youpingImage/timewrap1.jpg" alt="" class="conImg">
            <div class="con">
              <h6 class="tit">小玩意儿</h6>
              <p class="into">哈哈哈哈哈哈哈</p>
              <p class="nowPrice">￥49.5</p>
            </div>
          </li> -->
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- Z-hot E -->


  <!-- 专属推荐这里少了很多数据 如果有时间再补 还有样式稍微改改 -->
  <!-- Z-advice S -->
  <div class="Z-advice">
    <div class="advice w1080">
      <!-- 公共头部 -->
      <div class="commonTitle clearfix">
        <h4>专属推荐</h4>
      </div>

      <!-- 产品区域 -->
      <div class="timeWrap w1080">
        <div class="mainBox" data-type="advice">
          <ul class="imgsBox clearfix">
            <!-- 渲染模板 -->
            <!--     <li class="timeItem">
            <img src="../static/images/youpingImage/timewrap1.jpg" alt="" class="conImg">
            <div class="con">
              <h6 class="tit">小玩意儿</h6>
              <p class="nowPrice">￥49.5<i class="oldPrice">￥99</i></p>
            </div>
          </li> -->
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- Z-advice E -->

  <!-- Z-footer S -->
  <div class="Z-footer">
    <div class="footer w1080">
      <div class="footLog fl">
        <img src="../static/images/youpingImage/footlogo.png">
      </div>
      <div class="footInfo fl">
        <p><span>©xiaomiyoupin.com</span><span>苏B2-20180351 苏ICP备18025642号-1</span><img
            src="../static/images/youpingImage/police.png" class="police"><a href="#">苏公网安备 32010502010244号</a></p>
        <p><span>企业名称：有品信息科技有限公司</span><a href="#">关于我们</a><a href="#">入驻有品</a></p>
        <p><a href="#">小米有品平台运营主体变更公告</a></p>
        <p><span>南京市建邺区白龙江东街8号3栋9层</span></p>
      </div>
      <a class="honestyIcon fr">
        <img src="../static/images/youpingImage/honesty.png">
      </a>
    </div>
  </div>
  <!-- Z-footer E -->

  <!-- Z-sideBar S -->
  <ul class="sideBar">
    <li class="contactUs">
      <a href="#" class="sideHeader">
        <span class="m-icons sideIcon"></span>
        <span class="iconCon">联系客服</span>
      </a>
      <div class="sideContent">
        <p class="sideInfo">小米有品平台问题，建议反馈，商户和物流问题投诉等请拨打 小米有品客服热线</p>
        <p class="sidePhone">400-100-1199</p>
        <p class="sideDay">(周一至周日 8：00-18：00)</p>
        <p class="sideInfo">小米/米家自营品牌，手机电视智能硬件商品或订单发货/退款售后问题 请拨打小米自营客服热线</p>
        <p class="sidePhone">400-100-5678</p>
        <p class="sideDay">(周一至周日 8：00-18：00)</p>
      </div>
    </li>
    <li class="upload">
      <a href="#" class="sideHeader">
        <span class="m-icons sideIcon"></span>
        <span class="iconCon">下载</span></br>
        <span class="iconCon">APP</span>
      </a>
      <div class="sideContent">
        <img src="../static/images/youpingImage/uploadImg.png">
        <p>下载小米有品APP</br>
          得新人礼包</p>
      </div>
    </li>
    <li class="personGifts">
      <a href="#" class="sideHeader">
        <span class="m-icons sideIcon"></span>
        <span class="iconCon">新人有礼</span>
      </a>
      <div class="sideContent">
        <div class="giftsImg"></div>
        <img src="../static/images/youpingImage/uploadImg.png">
        <p>立即扫码下载·小米有品 APP</p>
      </div>
    </li>
    <li class="weixin">
      <a href="#" class="sideHeader">
        <span class="m-icons sideIcon"></span>
        <span class="iconCon">关注微信</span>
      </a>
      <div class="sideContent">
        <img src="../static/images/youpingImage/uploadImg.png">
        <p>扫码关注【小米有品生活电商】微信服务号，赢取小爱mini活动哦</p>
      </div>
    </li>
    <li class="toTop">
        <!-- href="#top" -->
      <a href="#" class="sideHeader">
        <span class="m-icons sideIcon"></span>
        <span class="iconCon">回到顶部</span>
      </a>
    </li>
  </ul>
  <!-- Z-sideBar E -->

</body>

</html>